<h1>Tasks</h1>

<div class="container-fluid">
    <% @tasks.each do |task| %>
      <div class="row">
        <div class="col-md-3">
          <h4><%= task.title %></h4>
          <h5><%= task.date.to_formatted_s(:long) %></h5>
          <%= button_to "Join", task_users_path(task), class: "btn btn-success" %>
          <br>
          </div>
          <div class="col-md-3">
        <%= form_tag task_users_assign_path(task, :name) do %>
          <%= label_tag(:name, "Assign task") %>
          <%= text_field_tag :name, params[:name]  %>
          <%= submit_tag "submit" , class: "btn btn-success" %>
        <% end %>
        <% if current_user.Rank > 5 %>
        <div class="btn-group">
        <%= link_to 'Show', task , class: "btn btn-success" %>
        <%= link_to 'Edit', edit_task_path(task), class: "btn btn-success" %>
        <% end %>
        <% if current_user.Rank > 6 %>
        <%= link_to 'Destroy', task, class: "btn btn-success", method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>
        </div>

        

      </div>
    <% end %>
        <%= link_to 'New Task', new_task_path, class: "btn btn-success" %>
</div>

