<% if current_user == @user || current_user.Rank > 4 %>
	<%= @user.name %> has to following tasks
	<% @tasks.each do |t| %>
		<h3><%= t.title %></h3>	
		<h5><%= t.date.to_formatted_s(:long) %></h5>	
		<h5 id="lat"><%= t.lat %></h5> 
		<h5 id="lng"><%= t.lng %></h5> 
	<% end %>
	<% else %>
	Not your page, Marine.
<% end %>
